@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&&display=swap');

:root {
  color-scheme: light dark;
  /* both supported */
  --background-color: #FDFDFD;
  --line-color2: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0D1117;
    --line-color2: white;
  }
}

/*------ Basic formatting ------*/
* {
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: auto 0px;
    padding: 0px;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 400;
    font-size: 11.5pt;
    transition: 0.3s;
    color: black;
    background-color: var(--background-color);
  }
  body.dark-theme {
    color: #CCC;
    background-color: var(--background-color);
  }
  
  b {
    font-family: 'Open Sans';
    font-weight: 700;
  }
  
  p {
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0px;
  }
  @media screen and (min-width: 600px) {  /* for narrow displays */
    p {
      text-align: justify;
    }
  }
  
  div.main {
    margin: 0 auto;
    width: 95%;
    max-width: 900px;
    padding-top: 110px;
    padding-bottom: 50px;
  }
  div.pre-main {
    padding-left: 18px;
    padding-right: 5px;
  }
  
  /* h1 is site specific */
  
  h2 {
    font-size: 28pt;
    padding-bottom: 15px;
    padding-top: 40px;
    font-family: 'Gotham', sans-serif;
    font-weight: 800;
  }
  .h2-container {
    padding: 5px 0px;
    margin: 50px 0px 15px 0px;
    border-bottom: solid 2px var(--line-color2);
  }
  .head-div {  /* if site is printed */
    page-break-after: avoid;
  }
  
  h3 {
    margin-top: 35px;
    font-family: 'Gotham', sans-serif;
    font-weight: 600;
    font-size: 16pt;
    padding-bottom:25px;
  }
  
  a {
    color: var(--c1);
    cursor: pointer;
    transition: all 0.8s ease 0s;
    text-decoration: none;
  }
  a:hover {
    color: var(--c5);
    text-decoration: underline 1px;
  }
  body.dark-theme a {
    color: var(--c2);
    cursor: pointer;
  }
  
  ul {
    list-style: none;
  }
  ol {
    list-style: decimal-leading-zero;
  }
  ol li::marker {
    color: #999;
    font-weight: 300;
    font-size: 10pt;
  }
  body.dark-theme ol li::marker {
    color: white;
  }
  ol li:hover::marker {
    color: black;
  }
  body.dark-theme ol li:hover::marker {
    color: white;
  }
  
  #colorbar {
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--c1);
    height: 5px;
    z-index: 20;
  }
  body.dark-theme #colorbar {
    background-color: var(--c2);
  }
  /*-----------------------------*/
  
  
  /*----- Header formatting -----*/
  #header {
    display: none;
  }
  @media screen and (min-width: 600px) {
    #header {
      display: inline-block;
      backdrop-filter: blur(8px);
      background-color: rgba(253, 253, 253, 0.85);
      margin: 0px;
      padding: 0px;
      z-index: 20;
      position: fixed;
      top: 0;
      width: 100%;
      transition: 0.6s;
      overflow-y: hidden;
      box-shadow: 0px 0px 10px #F0F0F0;
      border-bottom: var(--background-color) 1px solid;
    }
    body.dark-theme #header {
      backdrop-filter: blur(8px);
      background-color: rgba(13, 17, 23, 0.85);
      box-shadow: 0px 0px 10px #111;
      border-bottom: var(--background-color) 1px solid;
    }
  }
  
  div.post-header {
    margin: 0 auto;
    width: 95%;
    max-width: 900px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 400;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  div.post-header a {
    text-decoration: none;
    margin-right: 15px;
    margin-left: 15px;
    line-height: 34px;
    color: #222;
    transition: all 0.3s ease 0s;
    padding-bottom: 2px;
  }
  
  body.dark-theme div.post-header a {
    color: #DDD;
  }
  
  div.post-header a:hover {
    color: var(--c1);
  }
  
  body.dark-theme div.post-header a:hover {
    color: var(--c2);
  }
  
  div.post-header a.head-first {
    font-family: 'Gotham';
    font-weight: 300;
    font-size: 15pt;
    margin-left: 0px;
  }
  /*-----------------------------*/


  .footer {
    margin-top: 30px;
    padding-top: 60px;
    margin-bottom: 0px;
    padding-bottom: 35px;
    font-size: 9.5pt;
  }
  .footer-note {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .footer a {
    text-decoration: none;
  }
  
  
  /*--- For light/dark toggle ---*/
  #light-dark-toggle-inpage {
    margin-bottom: 20px;
    text-align: center;
  }
  
  button.light-dark-toggle {
    font-family: inherit;
    font-size: 16pt;
    display: inline;
    background-color: inherit;
    width: 35px;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    cursor: pointer;
    border: none;
  }
  
  body.dark-theme #sun {
    display: inline-block;
    color: var(--c2);
  }
  
  #sun {
    display: none;
  }
  
  body.dark-theme #moon {
    display: none;
  }
  
  #moon {
    display: inline-block;
    color: var(--c1);
  }
  /*-----------------------------*/