
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Pacifico&family=Open+Sans:wght@300;400;500;600&family=Roboto:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: auto 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  font-size: 12pt;
}

b {
  /* Format all bolds */
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

p {
  text-align: left;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0px;
}
@media screen and (min-width: 600px) {
   p {
      text-align: justify;
   }
}

h1 {
  font-size: 40pt;
  line-height: 45pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  margin-top: 90px;
  margin-bottom: 50px;
  text-align: center;
}

h3 {
  padding-bottom: 4px;
  padding-top: 30px;
}

a {
  color: #222222;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

a:hover {
  color: #2AADFF;
}

div.main {
  margin: 0 auto;
  width: 95%;
  max-width: 900px;
  padding-top: 50px;
  padding-bottom: 50px
}



/*  For navigation/header and footer */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FAFAFA;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #DDDDDD;
  font-size: 10pt;
  z-index: 20;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}

#header-logo {
  font-family:'Open Sans',sans-serif;
  font-size: 15pt;
  font-weight: 600;
  text-decoration: none;
  padding: 15px 10px 15px 5%;
}

.nav-list {
  list-style: none;
}

.nav-list li {
  display: inline-block;
  padding: 0.5% 10px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease 0s;
  font-weight: 400;
  top: -500px;
}

.nav-link:hover {
  color: #E81F7B;
}

a.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

div.footer {
  background-color: #FAFAFA;
  margin-top: 30px;
  padding-top: 30px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-top: 1px solid #DDDDDD;
  font-size: 11pt;
}

#data-link-a img:nth-child(2) {
  display: none;
}
#data-link-a:hover img:nth-child(2) {
  display: block;
}
#data-link-a:hover img:first-child {
  display: none;
}

#img1 {
  /* formatting for image below title */
  width: 100%;
  max-width: 240px;
  display: block;
  padding-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
}



/* For main components */
div.control {
  padding: 0px 30px 5px 0px;
  display: inline-block;
  vertical-align: text-top;
  margin-bottom: 5px;
  width: 140px;
}

.textinput {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 11pt;
  border-radius: 3pt;
  font-weight: 300;
  padding: 5px 10px 5px 10px;
  border: 2px solid #E3E3E3;
  background-color: white;
  transition: all 0.3s ease 0s;
  width: 110px;
}

.textinput:hover {
  border: 2px solid #9BD6FF;
}

.textinput:focus {
  border: 2px solid #9BD6FF;
}

.control-label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #444;
  font-size: 10pt;
}

.control-unit {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #BBB;
  font-size: 10pt;
}

.cb {
  font-family: 'Open Sans', sans-serif;
  color: #444;
}

.cbZ {
  height: 10pt;
  width: 10pt;
  margin-top: 1pt;
}

.fCharge {
  height: 10pt;
  width: 10pt;
  margin-top: 1pt;
}

#select-div {
  width: 200px;
}

select {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 11pt;
  border-radius: 3pt;
  font-weight: 300;
  padding: 5px 10px 5px 10px;
  border: 2px solid #E3E3E3;
  background-color: white;
  transition: all 0.3s ease 0s;
  width: 197px;
}

select:hover {
  border: 2px solid #9BD6FF;
}

select:focus {
  border: 2px solid #9BD6FF;
}

option {
  font-family: 'Open Sans',  Arial, sans-serif;
  font-size: 11pt;
  font-weight: 300;
}



/* for red slider */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5pt;
  border-radius: 5px;
  background: #E3E3E3;
  outline: none;
  -webkit-transition: .2s;
  transition: all .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 11pt;
  height: 11pt;
  border-radius: 50%;
  border: 1pt solid white;
  background: #2AADFF;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 11pt;
  height: 11pt;
  border-radius: 50%;
  background: #2AADFF;
  cursor: pointer
}
