@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&&display=swap');

:root {
  color-scheme: light dark;
  /* both supported */
  --c1: #0969DA;
  --c2: #48DEB1;
  --c5: #FF5733;
}

/*----- Site specific ------*/
h1.title {
  margin-top: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 48pt;
  font-weight: 800;
  color: #0969DA;
}
body.dark-theme h1.title {
  color: #48DEB1;
}

h2.subtitle {
  margin-bottom: 50px;
  text-align: center;
  font-size: 23pt;
  line-height: 25pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  padding-top: 0pt;
}

#header-logo {
  font-family: 'Gotham', sans-serif;
  color: #0969DA;
  font-size: 16pt;
  text-decoration: none;
  padding-top: 5px; 
  margin-left: 0px;
}

body.dark-theme #header-logo {
  color: white;
}

#header-logo:hover {
  color: #555;
}

a.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

.imgwrap {
  display: block;
  padding-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


/* Images and symbols with toggles */
#img1 {
  /* formatting for image below title */
  width: 100%;
  max-width: 464px;
  display: inline;
}

body.dark-theme #img1 {
  display: none;
}

#img2 {
  /* formatting for image below title */
  width: 65.4%;
  max-width: 303px;
  display: inline;
}

body.dark-theme #img2 {
  display: none;
}

#img1d {
  /* formatting for image below title */
  width: 100%;
  max-width: 464px;
  display: none;
}

body.dark-theme #img1d {
  display: inline;
}

#img2d {
  /* formatting for image below title */
  width: 65.4%;
  max-width: 303px;
  display: none;
}

body.dark-theme #img2d {
  display: inline;
}

#sun {
  display: none;
}

body.dark-theme #sun {
  display: inline;
}

#moon {
  display: inline;
}

body.dark-theme #moon {
  display: none;
}

#gh-black {
  display: inline;
}

body.dark-theme #gh-black {
  display: none;
}

#gh-white {
  display: none;
}

body.dark-theme #gh-white {
  display: inline;
}


/* For control components */
div.control {
  padding: 0px 30px 5px 0px;
  display: inline-block;
  vertical-align: text-top;
  margin-bottom: 5px;
  width: 140px;
}

.textinput {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 11pt;
  border-radius: 3pt;
  font-weight: 400;
  padding: 5px 10px 5px 10px;
  border: 2px solid #E3E3E3;
  background-color: white;
  transition: all 0.3s ease 0s;
  width: 110px;
  color: inherit;
}

body.dark-theme .textinput {
  border: 2px solid #444444;
  background-color: black;
}

.textinput:hover {
  border: 2px solid #0969DA;
  box-shadow: 0px 0px 4px #AAAAAA;
}

body.dark-theme .textinput:hover {
  border: 2px solid #48DEB1;
  box-shadow: 0px 0px 4px #666666;
}

.textinput:focus {
  border: 2px solid #0969DA;
}

body.dark-theme .textinput:focus {
  border: 2px solid #48DEB1;
}

.control-label {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 9pt;
}

.control-unit {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #999;
  font-size: 9pt;
}

body.dark-theme .control-unit {
  color: #888;
}

div.control label {
  font-size: 11pt;
  cursor: pointer;
}

.output-div {
  display: inline-block;
}

input[type="checkbox"] {
  -webkit-appearance: initial;
  appearance: initial;
  width: 9pt;
  height: 9pt;
  font-size: 10pt;
  border: 1.5px #BBB solid;
  border-radius: 50%;
  background: white;
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
}

input[type="checkbox"]:checked {}

input[type="checkbox"]:checked:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f058";
  /* tick unicode. */
  color: #0969DA;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cbC {
  padding: 0px;
  margin: 0px;
}

.cbspan {
  font-weight: 400;
}

#select-div {
  width: 200px;
}

select {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 11pt;
  border-radius: 3pt;
  font-weight: 400;
  padding: 5px 10px 5px 10px;
  border: 2px solid #E3E3E3;
  background-color: white;
  transition: all 0.3s ease 0s;
  width: 197px;
  color: inherit;
}

body.dark-theme select {
  border: 2px solid #444444;
  background-color: #111111;
}

select:hover {
  border: 2px solid #0969DA;
}

body.dark-theme select:hover {
  border: 2px solid #48DEB1;
}

option {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 11pt;
  font-weight: 400;
}



/* for blue slider */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5pt;
  border-radius: 5px;
  background: #E3E3E3;
  outline: none;
  -webkit-transition: .2s;
  transition: all .2s;
  cursor: pointer;
}

body.dark-theme .slider {
  background: #555;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 11pt;
  height: 11pt;
  border-radius: 50%;
  border: 1pt solid #FCFCFC;
  background: #0969DA;
  cursor: pointer;
}

body.dark-theme .slider::-webkit-slider-thumb {
  border: 1pt solid var(--background-color);
}

.slider::-moz-range-thumb {
  width: 11pt;
  height: 11pt;
  border-radius: 50%;
  background: #0969DA;
  cursor: pointer
}


/* For plot elements */
.axis {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 10pt;
  font-weight: 400;
}

.axis line {
  stroke: black;
}

body.dark-theme .axis line {
  stroke: white;
}

.axis path {
  stroke: black;
}

body.dark-theme .axis path {
  stroke: white;
}

.axis text {
  fill: black;
}

body.dark-theme .axis text {
  fill: white;
}

.legend-label {
  fill: black;
}

body.dark-theme .legend-label {
  fill: white;
}

.legend-circle {
  fill: #EDEDED;
  stroke: black;
}

body.dark-theme .legend-circle {
  fill: #222;
  stroke: white;
}

.plot-fill {
  fill: white;
}

body.dark-theme .plot-fill {
  fill: #111111;
}

body.dark-theme .diff-line {
  stroke: white;
}