body {
  margin: auto 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
}

b { /* Format all bolds */
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

h1 {
  text-align: center;
  font-size:30px;
}

a {
  color: #C90334;
  text-decoration: none;
}

/*  For navigation */
.nav {
  display: flex;
  background-color: #FAFAFA;
  list-style: none;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #DDDDDD;
  position: fixed;
  width: 100%;
  font-size: 10pt;
}

.nav li {
  text-align: right;
  display: block;
  padding: 20px;
}

.nav li:first-child {
  margin-right: auto;
  text-align: left;
}

.nav li a {
  color: #666666;
  text-decoration: none;
}

.nav li a:hover {
  color: #444444;
}

#img1 { /* formatting for image below title */
  width=:90%;
  max-width:230px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  padding-bottom:45px;
}

.cbZ {
  width:10px;
  height:10px;
}

/* For main components */
div.main {
  margin: 0 auto;
  width:95%;
  max-width: 750px;
  padding-top: 100px;
}

div.control {
  padding-bottom: 5px;
}

.slider {
  height:5px;
}

/* for red slider *
/*
.slider {
  -webkit-appearance: none;
  width: 15%;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #C70039;
  cursor: pointer;
}
*/

.slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #C70039;
  cursor: pointer;
}

hr {
  border: none;
  border-top: 1px solid #DDDDDD;
  margin-top: 45px;
  margin-bottom: 45px;
}
