
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Pacifico&family=Open+Sans:wght@300;400;500;600&family=Roboto:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: auto 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  font-size: 12pt;
}

b {
  /* Format all bolds */
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

p {
  text-align: justify;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0px;
}

h1 {
  font-size: 40pt;
  line-height: 45pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  margin-top: 90px;
  margin-bottom: 50px;
  text-align: center;
}

h3 {
  padding-bottom:10px;
}

a {
  color: #222222;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

a:hover {
  color: #E81F7B;
}

/*  For navigation */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FAFAFA;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #DDDDDD;
  font-size: 10pt;
  z-index: 20;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}

.nav-list {
  list-style: none;
}

.nav-list li {
  display: inline-block;
  padding: 0.5% 10px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease 0s;
  font-weight: 400;
  top: -500px;
}

.nav-link:hover {
  color: #E81F7B;
}

a.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

div.footer {
  background-color: #FAFAFA;
  margin-top: 30px;
  padding-top: 30px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-top: 1px solid #DDDDDD;
}

#data-link-a img:nth-child(2) {
  display: none;
}
#data-link-a:hover img:nth-child(2) {
  display: block;
}
#data-link-a:hover img:first-child {
  display: none;
}

#img1 {
  /* formatting for image below title */
  width: 100%;
  max-width: 240px;
  display: block;
  padding-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
}

/* For main components */
div.main {
  margin: 0 auto;
  width: 95%;
  max-width: 900px;
  padding-top: 50px;
  padding-bottom: 50px
}

div.control {
  padding-bottom: 5px;
}

.textinput {
  width: 60px;
  height: 15px;
}

/* for red slider */
.slider {
  -webkit-appearance: none;
  width: 15%;
  height: 5px;
  border-radius: 5px;
  background: #e3e3e3;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #D84D75;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #D84D75;
  cursor: pointer;
}


/* checkbox formatting */
input[type=checkbox].cbZ {
  position:absolute;
  z-index:-1000;
  left:-1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height:1px; width:1px;
  margin:-1px; padding:0;
  border:0;
}

.cbZ:checked + label {
  background-color: #D84D75;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.cbZ:checked + label:before {
  content: '\2714 ';
}

.cbZ + label {
  background-color: #FDFDFD;
  border: 1px solid #CECECE;
  padding: 0px;
  padding-bottom: 1px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 2px;
  height: 25px;
  border-radius: 25px;
  width: 900px;
}

.cbZ + label:before {
  content: '\2714 ';
  color: #FFFFFF;
  font-size: 10pt;
}

input[type=checkbox].fCharge {
  position:absolute;
  z-index:-1000;
  left:-1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height:1px; width:1px;
  margin:-1px; padding:0;
  border:0;
}

.fCharge:checked + label {
  background-color: #D84D75;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.fCharge:checked + label:before {
  content: '\2714';
  font-size: 9px;
}

.fCharge + label {
  background-color: #FDFDFD;
  border: 1px solid #CECECE;
  margin: 2px;
  padding: 0px;
  padding-bottom: 1px;
  padding-left: 4px;
  padding-right: 4px;
  margin: 2px;
  border-radius: 3px;
}

.fCharge + label:before {
  content: '\2714';
  color: #FFFFFF;
  font-size: 9px;
}
